{% extends "frontend/base.html" %}
{% block title %} Denmark - Departments {% endblock %}
{% load static %}
{% block content %}
<div class="page-wrapper">
	<section class="page-banner">
		<div class="container">
			<div class="page-breadcrumbs">
				<ul class="list-unstyled">
					<li><a href="{% url 'frontend:home' %}">Home</a></li>
					<li>Departments</li>
				</ul><!-- list-unstyled -->
			</div><!--page-breadcrumbs-->
			<div class="page-banner-title">
				<h3>Departments</h3>
			</div><!--page-banner-title-->
		</div><!-- container -->
	</section><!--page-banner-->
	<section class="service-one-section">
		<div class="container">
			<div class="row row-gutter-30">
				{% for item in departments %}
				<div class="col-xxl-4 col-xl-6">
					<div class="service-one-card">
						<div class="service-one-icon">
							<i class="{{item.icon_name}}"></i>
						</div><!-- service-one-icon -->
						<div class="service-one-card-content">
							<h3><a href="{{item.get_absolute_url}}">{{item.name}}</a></h3>

						</div><!-- service-one-card-content -->
					</div><!-- service-one-card -->
				</div><!-- col-xxl-4 col-xl-6 -->
				{% endfor %}
			</div><!--row-->
		</div><!-- container -->
	</section><!--service-one-section-->
	<section class="cta-three">
		<div class="cta-three-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="cta-three-content text-center">
							<h2 class="section-title text-white">Denmark Government Offers a Wide <br>Range of Online Services</h2>
						</div><!-- cta-three-content -->
					</div><!-- col-lg-12 -->
				</div><!-- row -->
			</div><!-- container -->
		</div><!--cta-three-inner-->
	</section><!--cta-three-->
</div>
{% endblock content %}